<!DOCTYPE html>

<html>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<head>
    <script>
        
    </script>

</head>

<body>

    <a href='/home'>메인 홈페이지</a>
    
    <br>

    <div class="form-group">
            <div class="row-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-default">로그인</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" id="CarNumber" placeholder="차량 번호">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">추가</button>
                    </span>
                    <!-- <input type="text" class="form-control" placeholder="Search for..."> -->
                    <!-- input 버튼이 여기에 있으면 버튼 위치가 왼쪽으로 들어간다. -->
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 !-- 만 입력해도 자동으로 닫히는 것이 만들어진다. --> 
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" id="Owner" placeholder="소유자">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">추가</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
        <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" id="Model" placeholder="모델">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">추가</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" id="Company" placeholder="제조사">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">추가</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="사고횟수" placeholder="NumOfAccident">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">추가</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="소유자 변경횟수" placeholder="NumOfOwnerChange">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">추가</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    
        
        

        

    <p>CarList</p>

<table class="table table-striped" id="cartable">
    <thead>
        <tr>
        <th class="th-sm">No</th>
        <th>CarNumber</th>
        <th>Owner</th>
        <th>model</th>
        <th>Company</th>
        <th>NumOfAccient</th>
        <th>NumOfOwnerChange</th>
        </tr>
    </thead>
    <tbody id="list">
    
    <% for(let i=0; i<list.length; i++) { %>
        <tr>
​           <td><%= i %></td>
​           <td><%= list[i].carNumber %></td>
​           <td><%= list[i].owner %></td>
​           <td><%= list[i].model %></td>
           <td><%= list[i].company %></td>
           <td><%= list[i].numOfAccident %></td>
           <td><%= list[i].numOfOwnerChange %></td>
​       </tr>
    <% } %>
        
    </tbody>
</table>

</body>


</html>