<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <form action='/post' method="POST">
        <div class="jumbotron">
            <h1>CAR </h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attenton to feature</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Main Homepage</a></p>
        </div>
        <nav>
        <a href="/">Home</a> &nbsp;
        <a href="/about">About</a> &nbsp;
        <a href="/signin">회원가입</a> &nbsp;
        <a href="/login">로그인</a> &nbsp;
        </nav>
<div class="jumbotron">
    <div class="container">
        <form action='/carlist' a href='/carlist' method="POST">
    <nav>
        <ul class="signin">
            <li><a href="/carlist">회원가입</a></li>
        <div class="form-group">
                <div class="row-sm-offset-3 col-sm-10">
                    <button type="submit" a href='/carlist'class="btn btn-default">회원가입</button>
                </div>
                </div>
            </ul>
        </nav>
    </form>
        <form action='/login' method="POST">
        <nav>
            <ul class="login">
                <li><a href="/login">로그인</a></li>
            </ul>
            </nav>
            <div class="form-group">
                    <div class="row-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-default">로그인</button>
                    </div>
                </div>
        </form>
            <form action='/carrer' method="POST">
            <nav>
                <ul class="carrer">
                    <li><a href="/signin">장바구니</a></li>
                </ul>
            </nav>
        <div class="form-group">
            <div class="row-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-default">장바구니</button>
            </div>
        </div>
    </form>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="..." alt="...">
                </a>
            </div>
        </div>
            <h1>Thank you</h1> 
            <div class="page-header">
                <h1>Example page header <small>Subtext for header</small></h1>
            </div>
        </div>
    </div>

</form>
</body>

</html>