<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

        <% include ./inc/header.ejs %>
    </head>
    <body>

        <h1>body 부분입니다.</h1>
<!-- // 페이지를 구성해서 필요해서 ejs에서 데이터를 가져오는 방법이 있다. -->
<!-- // get을 가지고 와서 passing을 하는 경우도 있다. -->
        
        <% include ./home.html %>

        <% include ./inc/footer.ejs %>
    </body>
    </html>