<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <%= include ../inc/header.ejs %>

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>setsession 테스트입니다.</h1>
            <!-- <p> <%= myname %> 님 안녕하세요. </p>
            <br>
            <p> 아이디는 <%= myid %> 입니다. </p> -->
        </div>
    </div>

    <% include ../inc/footer.ejs %>

</body>

</html>